body{
    background-image: url("http://fustany.com/en/beauty/makeup/when-to-toss-your-makeup-products");
    margin:0px;
    padding:0px;
}

h1{
   font-family:Arial;
   color:aqua;
}

#title{
    color:pink;
    font-size:50px;
}

#h2{
    font-family:Arial;
}